<div fxFlex fxLayout="column" style="margin:5px 0px">
  <div fxFlex=10 fxLayout="row" fxLayoutAlign="space-around center" >
    <div>
    <mat-form-field>
      <mat-label>Delay Timer(in ms)</mat-label>
      <input matInput [(ngModel)]="delay">
    </mat-form-field>
  </div>
    <div>
    <button mat-raised-button (click)="generateArray()" [disabled]=disable >Generate New Array</button>
  </div>
    <div fxFlex=20>
      <mat-slider (input)="generateArray($event)" [(ngModel)] = "arraySize" [disabled]=disable></mat-slider>
    </div>
    <div fxLayoutGap="5px">
      <button mat-raised-button *ngFor="let sort of sortTypes | keyvalue"
        (click)="setType(sort.value)" [disabled]=disable>{{sort.key}}</button>
    </div>
  </div>
  <div fxFlex>
    <app-sorter #sorter [sortArray]="sortArray" [delayTimer] = "delay"></app-sorter>
  </div>
</div>
